@charset "utf-8";

.styles-module__JPbn6G__board { aspect-ratio: 710.217 / 438.094; flex-shrink: 0; width: 189.391cqw; position: relative; }

.styles-module__JPbn6G__tile { left: var(--mobile-x); top: var(--mobile-y); width: var(--mobile-width); height: var(--mobile-height); position: absolute; }

@media (min-width: 48rem) {
  .styles-module__JPbn6G__board { aspect-ratio: 1640 / 753; width: 114cqw; max-width: calc(var(--max-width-container-desktop) * 1.14); }
  .styles-module__JPbn6G__tile { left: var(--x); top: var(--y); width: var(--width); height: var(--height); }
}