@charset "utf-8";

.text-chart-title { font-family: var(--font-sans); letter-spacing: 0.0016rem; font-size: 0.94625rem; font-weight: 500; line-height: 144%; }

.text-chart-label { font-family: var(--font-sans); letter-spacing: 0.0016em; font-size: 0.94625rem; font-weight: 400; line-height: 117%; }

.text-chart-bar-label { font-family: var(--font-sans); font-size: 0.425rem; font-weight: 400; line-height: 144%; }

.text-chart-legend { font-family: var(--font-sans); font-size: 0.8425rem; font-weight: 400; line-height: 144%; }

.text-chart-legend-detail { font-family: var(--font-sans); font-size: 0.655rem; font-weight: 400; line-height: 144%; }

.text-chart-tooltip-label { font-family: var(--font-sans); font-size: 0.84375rem; font-weight: 500; line-height: 144%; }

.text-chart-tooltip-metric { font-family: var(--font-sans); font-size: 0.84375rem; font-weight: 400; line-height: 144%; }

.hide-scrollbar { scrollbar-width: none; }

.hide-scrollbar::-webkit-scrollbar { display: none; }