@charset "utf-8";

.CodexOriginalsHero-module__LVLFka__wordmark { aspect-ratio: 494 / 64; width: min(385.938px, 100%); display: block; position: relative; }

.CodexOriginalsHero-module__LVLFka__artImage { inset-inline-start: -4.04858%; pointer-events: none; width: 108.097%; max-width: none; height: 153.125%; display: block; position: absolute; top: -26.5625%; }

.CodexOriginalsHero-module__LVLFka__animatedArtwork { pointer-events: none; display: none; position: absolute; inset: 0px; }