@charset "utf-8";

@layer utilities {
  .redemption-form-module__E7eN2G__form { width: 100%; max-width: var(--redemption-form-width,432px); scroll-margin-top: calc(var(--header-h,80px) + 24px); text-align: start; margin-inline: auto; position: relative; }
  .redemption-form-module__E7eN2G__form > div { width: 100%; padding: 0px; display: block; }
  .redemption-form-module__E7eN2G__form > div > div { grid-column: auto; width: 100%; }
  .redemption-form-module__E7eN2G__form form:not([id], .hidden) { gap: calc(var(--spacing,.25rem) * 3.5); grid-template-columns: repeat(1, minmax(0px, 1fr)); display: grid; }
  .redemption-form-module__E7eN2G__form form > div { grid-column: 1 / -1; min-width: 0px; }
  .redemption-form-module__E7eN2G__form label { justify-content: flex-end; gap: var(--spacing,.25rem); height: 100%; }
  .redemption-form-module__E7eN2G__form label p { margin: 0px; }
  .redemption-form-module__E7eN2G__form label span { font-size: var(--text-sm,.875rem); line-height: calc(var(--spacing,.25rem) * 5); color: var(--color-white,#fff); }
  .redemption-form-module__E7eN2G__form select { height: 38px; }
  .redemption-form-module__E7eN2G__form label > div:has(input) { height: 38px; }
  .redemption-form-module__E7eN2G__form textarea { min-height: calc(var(--spacing,.25rem) * 15); }
  .redemption-form-module__E7eN2G__form select, .redemption-form-module__E7eN2G__form textarea { border-radius: var(--radius-none,0); background-color: var(--color-white,#fff); --lightningcss-light: initial; --lightningcss-dark: ; color-scheme: light; --tw-shadow: inset 2px 2px 0 var(--tw-shadow-color,#00000029); box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); border-color: rgb(96, 96, 121); }
  .redemption-form-module__E7eN2G__form label > div:has(input) { border-radius: var(--radius-none,0); background-color: var(--color-white,#fff); --lightningcss-light: initial; --lightningcss-dark: ; color-scheme: light; --tw-shadow: inset 2px 2px 0 var(--tw-shadow-color,#00000029); box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); border-color: rgb(96, 96, 121); }
  .redemption-form-module__E7eN2G__form input, .redemption-form-module__E7eN2G__form select, .redemption-form-module__E7eN2G__form textarea { font-size: var(--text-sm,.875rem); line-height: calc(var(--spacing,.25rem) * 5); color: var(--color-black,#000); }
  .redemption-form-module__E7eN2G__form textarea:hover, .redemption-form-module__E7eN2G__form textarea:focus, .redemption-form-module__E7eN2G__form textarea:active { color: var(--color-black,#000); }
  .redemption-form-module__E7eN2G__form label > div:has(select) { color: var(--color-black,#000); }
  .redemption-form-module__E7eN2G__form label > div:focus-within, .redemption-form-module__E7eN2G__form select:focus-visible, .redemption-form-module__E7eN2G__form textarea:focus-visible { outline-style: var(--tw-outline-style); outline-offset: 3px; outline-width: 2px; outline-color: rgb(0, 255, 242); }
  .redemption-form-module__E7eN2G__form button[type="submit"] { margin-top: calc(var(--spacing,.25rem) * 1.5); min-height: 34px; min-width: calc(var(--spacing,.25rem) * 44); border-radius: var(--radius-none,0); border-style: outset; border-width: 2px; border-color: var(--color-white,#fff); padding-inline: calc(var(--spacing,.25rem) * 5); padding-block: calc(var(--spacing,.25rem) * 1.25); font-size: var(--text-sm,.875rem); line-height: calc(var(--spacing,.25rem) * 5); --tw-font-weight: var(--font-weight-normal,400); font-weight: var(--font-weight-normal,400); color: var(--color-black,#000); background-color: silver; grid-column: 1 / -1; justify-self: center; }
  .redemption-form-module__E7eN2G__form button[type="submit"]:active { border-style: inset; }
  .redemption-form-module__E7eN2G__form button:disabled { opacity: 0.65; }
  .redemption-form-module__E7eN2G__form [role="alert"], .redemption-form-module__E7eN2G__form form > div > span { color: rgb(255, 182, 193); }
  .redemption-form-module__E7eN2G__submitted { --redemption-form-width: 644px; min-height: calc(var(--spacing,.25rem) * 36); }
  .redemption-form-module__E7eN2G__submitted .prose { font-size: 24px; line-height: calc(var(--spacing,.25rem) * 9); --tw-font-weight: var(--font-weight-bold,700); font-weight: var(--font-weight-bold,700); text-wrap: wrap; color: rgb(255, 240, 0); }
  .redemption-form-module__E7eN2G__submitted > div > div > div:has(> .prose) { padding: 0px; }
  @media (min-width: 601px) {
  .redemption-form-module__E7eN2G__form form:not([id], .hidden) { gap: calc(var(--spacing,.25rem) * 2.5); grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  :is(.redemption-form-module__E7eN2G__cdForm form > div:has(input:is([name="FirstName"], [name="LastName"], [name="Email"], [name^="Phone"], [name="City"], [name="State"], [name="PostalCode"], [name="CustomsCode"])), .redemption-form-module__E7eN2G__merchForm form > div:has(input:is([name="FirstName"], [name="LastName"], [name="City"], [name="State"], [name="PostalCode"], [name="CustomsCode"]))) { grid-column: span 1 / span 1; }
}
}

@property --tw-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }

@property --tw-shadow-color { syntax: "*"; inherits: false; }

@property --tw-shadow-alpha { syntax: "<percentage>"; inherits: false; initial-value: 100%; }

@property --tw-inset-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }

@property --tw-inset-shadow-color { syntax: "*"; inherits: false; }

@property --tw-inset-shadow-alpha { syntax: "<percentage>"; inherits: false; initial-value: 100%; }

@property --tw-ring-color { syntax: "*"; inherits: false; }

@property --tw-ring-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }

@property --tw-inset-ring-color { syntax: "*"; inherits: false; }

@property --tw-inset-ring-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }

@property --tw-ring-inset { syntax: "*"; inherits: false; }

@property --tw-ring-offset-width { syntax: "<length>"; inherits: false; initial-value: 0; }

@property --tw-ring-offset-color { syntax: "*"; inherits: false; initial-value: #fff; }

@property --tw-ring-offset-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }

@property --tw-outline-style { syntax: "*"; inherits: false; initial-value: solid; }

@property --tw-border-style { syntax: "*"; inherits: false; initial-value: solid; }

@property --tw-font-weight { syntax: "*"; inherits: false; }