@charset "utf-8";

.SharedVideoScreen-module__kgohla__videoScope { --player-ui-color: var(--crt-accent,#5dd135); --player-ui-surface-color: #080808; }

.SharedVideoScreen-module__kgohla__initialPlayOverride .group > button[type="button"] { border-radius: var(--radius-none,0); padding-inline: calc(var(--spacing,.25rem) * 2); padding-block: var(--spacing,.25rem); font-size: var(--text-sm,.875rem); --tw-font-weight: var(--font-weight-semibold,600); font-weight: var(--font-weight-semibold,600); text-transform: uppercase; background: var(--player-ui-surface-color); border: 1px solid var(--player-ui-color); color: var(--player-ui-color); letter-spacing: 0.08em; justify-content: center; align-items: center; line-height: 1; display: inline-flex; box-shadow: rgb(55, 55, 55) 0px 0px 2px 2px inset; }

.SharedVideoScreen-module__kgohla__initialPlayOverride .group > button[type="button"] > svg { display: none; }

.SharedVideoScreen-module__kgohla__initialPlayOverride .group > button[type="button"]::after { content: "Watch Video"; }

.SharedVideoScreen-module__kgohla__showControlsAfterPlaybackOnly .group > button[type="button"] + div { display: none; }

@property --tw-font-weight { syntax: "*"; inherits: false; }