@charset "utf-8";

.Composition-module__rvv_Ca__composition { pointer-events: none; display: none; position: absolute; inset: 0px; }

.Composition-module__rvv_Ca__piece { left: calc(var(--mobile-x) * 1%); top: calc(var(--mobile-y) * 1%); width: calc(var(--mobile-width) * 1% * var(--trail-scale,1)); height: calc(var(--mobile-height) * 1% * var(--trail-scale,1)); position: absolute; }

@container (min-width: 76rem) {
  .Composition-module__rvv_Ca__composition { aspect-ratio: 970.36 / 725; width: 970.36px; inset: calc(50% - 10.5px) auto auto calc(50% - 12.82px); transform: translate(-50%, -50%); }
  .Composition-module__rvv_Ca__piece { left: calc(var(--x) / 970.36 * 100%); top: calc(var(--y) / 725 * 100%); width: calc(var(--width) / 970.36 * 100% * var(--trail-scale,1)); height: calc(var(--height) / 725 * 100% * var(--trail-scale,1)); }
}

.Composition-module__rvv_Ca__mobileComposition { pointer-events: none; position: absolute; inset: 0px; }

.Composition-module__rvv_Ca__mobilePiece { left: calc(var(--x) / 375 * 100cqw); top: calc(var(--band-top) + var(--y) / 375 * 100cqw); width: calc(var(--width) / 375 * 100cqw); height: calc(var(--height) / 375 * 100cqw); position: absolute; }

@container (min-width: 44rem) {
  .Composition-module__rvv_Ca__composition { display: block; }
  .Composition-module__rvv_Ca__mobileComposition { display: none; }
}