@charset "utf-8";

.styles-module__nlev9q__scene { overflow-anchor: none; }

.styles-module__nlev9q__track { direction: ltr; position: absolute; inset: 0px; }

.styles-module__nlev9q__frame { aspect-ratio: 4 / 5; position: sticky; top: 0px; }

.styles-module__nlev9q__surface { position: absolute; inset: 0px; }

@media (max-width: 760px) and (prefers-reduced-motion: no-preference) {
  .styles-module__nlev9q__surface > :is(img, video, canvas) { object-fit: contain; }
}

.styles-module__nlev9q__lockup { grid-template-columns: 558fr 444fr; align-items: center; gap: clamp(48px, 9.72vw, 140px); width: calc(100% - 64px); max-width: 1142px; margin-inline: auto; display: grid; }

.styles-module__nlev9q__imageRight { grid-template-columns: 444fr 558fr; }

.styles-module__nlev9q__imageRight .styles-module__nlev9q__anchor { grid-row-start: 1; grid-column-start: 2; justify-self: flex-end; }

.styles-module__nlev9q__imageRight .styles-module__nlev9q__copy { grid-row-start: 1; grid-column-start: 1; }

.styles-module__nlev9q__anchor { aspect-ratio: 4 / 5; justify-self: flex-start; width: min(100%, -140.8px + 80svh); position: relative; }

@media (max-width: 760px) {
  .styles-module__nlev9q__lockup { align-items: stretch; gap: calc(var(--spacing,.25rem) * 10); flex-direction: column; width: calc(100% - 40px); display: flex; }
  .styles-module__nlev9q__anchor { align-self: center; }
  .styles-module__nlev9q__anchor, .styles-module__nlev9q__frame { aspect-ratio: 1 / 1; }
  .styles-module__nlev9q__frame { transform-origin: center bottom; position: absolute; bottom: 0px; }
}

@media (prefers-reduced-motion: reduce) {
  .styles-module__nlev9q__frame { aspect-ratio: var(--aspect-video,16 / 9); position: relative; }
  .styles-module__nlev9q__lockup { align-items: stretch; gap: calc(var(--spacing,.25rem) * 12); flex-direction: column; display: flex; }
  .styles-module__nlev9q__copy { order: calc(-1); max-width: 600px; }
  .styles-module__nlev9q__anchor { aspect-ratio: var(--aspect-video,16 / 9); width: 100%; }
  @media (max-width: 760px) {
  .styles-module__nlev9q__copy { order: 0; }
}
}