@charset "utf-8";

.CosmosV2GlobalTraffic-module__gOJEOq__board { isolation: isolate; min-width: calc(var(--spacing,.25rem) * 160); aspect-ratio: 1120 / 595; position: relative; }

.CosmosV2GlobalTraffic-module__gOJEOq__map { pointer-events: none; width: 100%; height: 100%; display: block; position: absolute; inset: 0px; }

.CosmosV2GlobalTraffic-module__gOJEOq__land { fill: var(--color-primary-2,var(--color-primary-2)); stroke: var(--color-primary-12,var(--color-primary-12)); stroke-width: 0.8px; stroke-linejoin: round; }

.CosmosV2GlobalTraffic-module__gOJEOq__rails { fill: none; stroke: var(--color-primary-12,var(--color-primary-12)); stroke-width: 0.8px; }

.CosmosV2GlobalTraffic-module__gOJEOq__packet { fill: rgb(93, 135, 164); }

.CosmosV2GlobalTraffic-module__gOJEOq__icon { color: var(--color-primary-100,var(--color-primary-100)); }

.CosmosV2GlobalTraffic-module__gOJEOq__icon path { stroke: var(--color-background,var(--color-background)); stroke-width: 0.6px; paint-order: fill; vector-effect: non-scaling-stroke; }